# **Data Cleaning**

## **Import Packages and Data**

In [31]:
import re

import pandas as pd

In [32]:
questions_url = ''
answers_url = ''
tags_url = ''

In [33]:
questions = pd.read_csv(questions_url, parse_dates = True, encoding='latin-1')
answers = pd.read_csv(answers_url, parse_dates=True, encoding='latin-1')
tags = pd.read_csv(tags_url, encoding='latin-1')

FileNotFoundError: [Errno 2] No such file or directory: ''

In [ ]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607282 entries, 0 to 607281
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            607282 non-null  int64
 1   OwnerUserId   601070 non-null  float64
 2   CreationDate  607282 non-null  object
 3   Score         607282 non-null  int64
 4   Title         607282 non-null  object
 5   Body          607282 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 27.8+ MB

In [ ]:
answers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            987122 non-null  int64
 1   OwnerUserId   981755 non-null  float64
 2   CreationDate  987122 non-null  object
 3   ParentId      987122 non-null  int64
 4   Score         987122 non-null  int64
 5   Body          987122 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.2+ MB

In [ ]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885078 entries, 0 to 1885077
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Tag     object
dtypes: int64(1), object(1)
memory usage: 28.8+ MB

In [ ]:
questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [ ]:
answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [ ]:
tags.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

## **Prepare Data**

### Convert columns to snake case

In [ ]:
# Questions columns
questions.columns = (questions.columns
                     .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                     .str.lower())

questions.columns

Index(['id', 'owner_user_id', 'creation_date', 'score', 'title', 'body'], dtype='object')

In [ ]:
# Answers columns
answers.columns = (answers.columns
                   .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                   .str.lower())

answers.columns

Index(['id', 'owner_user_id', 'creation_date', 'parent_id', 'score', 'body'], dtype='object')

In [ ]:
# Tags columns
tags.columns = tags.columns.str.lower()

tags.columns

Index(['id', 'tag'], dtype='object')

### Convert to datetime

In [ ]:
# Questions date to datetime
questions['creation_date'] = pd.to_datetime(questions['creation_date'])

display(questions.head())
questions.info()

,id,owner_user_id,creation_date,score,title,body
0,469,147.0,2008-08-02 15:11:16+00:00,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58+00:00,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54+00:00,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08+00:00,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16+00:00,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607282 entries, 0 to 607281
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             607282 non-null  int64
 1   owner_user_id  601070 non-null  float64
 2   creation_date  607282 non-null  datetime64[ns, UTC]
 3   score          607282 non-null  int64
 4   title          607282 non-null  object
 5   body           607282 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(2)
memory usage: 27.8+ MB

In [ ]:
# Answers date to datetime
answers['creation_date'] = pd.to_datetime(answers['creation_date'])

display(answers.head())
answers.info()

,id,owner_user_id,creation_date,parent_id,score,body
0,497,50.0,2008-08-02 16:56:53+00:00,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02 17:42:28+00:00,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02 18:49:07+00:00,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02 18:56:56+00:00,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02 19:06:40+00:00,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             987122 non-null  int64
 1   owner_user_id  981755 non-null  float64
 2   creation_date  987122 non-null  datetime64[ns, UTC]
 3   parent_id      987122 non-null  int64
 4   score          987122 non-null  int64
 5   body           987122 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(1)
memory usage: 45.2+ MB

### Missing values

In [ ]:
questions.isna().sum()

id                  0
owner_user_id    6212
creation_date       0
score               0
title               0
body                0
dtype: int64

In [ ]:
answers.isna().sum()

id                  0
owner_user_id    5367
creation_date       0
parent_id           0
score               0
body                0
dtype: int64

### Duplicates

In [ ]:
# Questions duplicates
print(f'Number of questions duplicates: {questions.duplicated().sum()}')

Number of questions duplicates: 0

In [ ]:
# Ansers duplicates
print(f'Number of answer duplicates: {answers.duplicated().sum()}')

Number of answer duplicates: 0

### Normalize text

In [ ]:
# View text example
print(questions.loc[1, 'body'])
print(questions.loc[2, 'body'])

print(answers.loc[1, 'body'])
print(answers.loc[2, 'body'])

<p>I have a cross-platform (Python) application which needs to generate a JPEG preview of the first page of a PDF.</p>

<p>On the Mac I am spawning <a href="http://developer.apple.com/documentation/Darwin/Reference/ManPages/man1/sips.1.html">sips</a>.  Is there something similarly simple I can do on Windows?</p>

<p>I'm starting work on a hobby project with a python codebase and would like to set up some form of continuous integration (i.e. running a battery of test-cases each time a check-in is made and sending nag e-mails to responsible persons when the tests fail) similar to CruiseControl or TeamCity.</p>

<p>I realize I could do this with hooks in most VCSes, but that requires that the tests run on the same machine as the version control server, which isn't as elegant as I would like. Does anyone have any suggestions for a small, user-friendly, open-source continuous integration system suitable for a Python codebase?</p>

<p>I haven't been able to find anything that does this directly.  I think you'll have to iterate through the various font folders on the system: <code>/System/Library/Fonts</code>, <code>/Library/Fonts</code>, and there can probably be a user-level directory as well <code>~/Library/Fonts</code>.</p>

<p>You can use ImageMagick's convert utility for this, see some examples in <a href="https://web.archive.org/web/20120413111338/http://studio.imagemagick.org/pipermail/magick-users/2002-May/002636.html" rel="nofollow">http://studio.imagemagick.org/pipermail/magick-users/2002-May/002636.html</a>
:</p>

<blockquote>
<pre><code>Convert taxes.pdf taxes.jpg
</code></pre>

  <p>Will convert a two page PDF file into [2] jpeg files: taxes.jpg.0,
  taxes.jpg.1</p>

  <p>I can also convert these JPEGS to a thumbnail as follows:</p>

<pre><code>convert -size 120x120 taxes.jpg.0 -geometry 120x120 +profile '*' thumbnail.jpg
</code></pre>

  <p>I can even convert the PDF directly to a jpeg thumbnail as follows:</p>

<pre><code>convert -size 120x120 taxes.pdf -geometry 120x120 +profile '*' thumbnail.jpg
</code></pre>

  <p>This will result in a thumbnail.jpg.0 and thumbnail.jpg.1 for the two
  pages.</p>
</blockquote>

In [ ]:
# Define normalizing function
def normalize_text(text):
    text = text.lower()
    text = text.replace('<p>', ' ')
    text = text.replace('</p>', ' ')
    text = text.replace('\n', ' ')
    text = text.replace('<a', ' ')
    text = text.replace('</a>', ' ')
    text = text.replace('href=', ' ')
    text = text.replace('</code', ' ')
    text = text.replace('</pre>', ' ')
    text = text.replace('<code>', ' ')
    text = text.replace('jpeg', ' ')
    text = text.replace('jpg', ' ')
    text = text.replace('pre', ' ')
    text = text.replace('pdf', ' ')
    text = text.replace('gt', ' ')
    text = re.sub(r"[^a-zA-z']", ' ', text)
    text = text.split()
    text = " ".join(text)
    
    return text

def normalize_with_sentences(text):
    text = text.lower()
    text = text.replace('<p>', ' ')
    text = text.replace('</p>', ' ')
    text = text.replace('\n', ' ')
    text = text.replace('<a', ' ')
    text = text.replace('</a>', ' ')
    text = text.replace('href=', ' ')
    text = text.replace('</code', ' ')
    text = text.replace('</pre>', ' ')
    text = text.replace('<code>', ' ')
    text = text.replace('jpeg', ' ')
    text = text.replace('jpg', ' ')
    text = text.replace('pre', ' ')
    text = text.replace('pdf', ' ')
    text = text.replace('gt', ' ')
    text = re.sub(r"[^a-zA-z'.]", ' ', text)
    text = text.split()
    text = " ".join(text)
    
    return text

# Apply normalization to Q title and Q & A body
questions['body_normalized'] = questions['body'].apply(normalize_text)
questions['title_normalized'] = questions['title'].apply(normalize_text)
answers['body_normalized'] = answers['body'].apply(normalize_text)

questions['body_with_sentences'] = questions['body'].apply(normalize_with_sentences)
questions['title_with_sentences'] = questions['title'].apply(normalize_with_sentences)
answers['body_with_sentences'] = answers['body'].apply(normalize_with_sentences)

In [ ]:
# View examples normalized
print(questions.loc[1, 'title_normalized'])
print(questions.loc[1, 'body_normalized'])
print(answers.loc[1, 'body_normalized'])

get a view of a on windows
i have a cross platform python application which needs to generate a view of the first page of a on the mac i am spawning http developer apple com documentation darwin reference manpages man sips html sips is there something similarly simple i can do on windows
i haven't been able to find anything that does this directly i think you'll have to iterate through the various font folders on the system system library fonts library fonts and there can probably be a user level directory as well library fonts

### Add year column

In [ ]:
# Question year
questions['creation_year'] = questions['creation_date'].dt.year

questions.head()

,id,owner_user_id,creation_date,score,title,body,body_normalized,title_normalized,body_with_sentences,title_with_sentences,creation_year
0,469,147.0,2008-08-02 15:11:16+00:00,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...,i am using the photoshop's javascript api to f...,how can i find the full path to a font from it...,i am using the photoshop's javascript api to f...,how can i find the full path to a font from it...,2008
1,502,147.0,2008-08-02 17:01:58+00:00,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...,i have a cross platform python application whi...,get a view of a on windows,i have a cross platform python application whi...,get a view of a on windows,2008
2,535,154.0,2008-08-02 18:43:54+00:00,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...,i'm starting work on a hobby project with a py...,continuous integration system for a python cod...,i'm starting work on a hobby project with a py...,continuous integration system for a python cod...,2008
3,594,116.0,2008-08-03 01:15:08+00:00,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...,there are several ways to iterate over a resul...,cx_oracle how do i iterate over a result set,there are several ways to iterate over a resul...,cx_oracle how do i iterate over a result set,2008
4,683,199.0,2008-08-03 13:19:16+00:00,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...,i don't remember whether i was dreaming or not...,using 'in' to match an attribute of python obj...,i don't remember whether i was dreaming or not...,using 'in' to match an attribute of python obj...,2008

In [ ]:
# Answer year
answers['creation_year'] = answers['creation_date'].dt.year

answers.head()

,id,owner_user_id,creation_date,parent_id,score,body,body_normalized,body_with_sentences,creation_year
0,497,50.0,2008-08-02 16:56:53+00:00,469,4,<p>open up a terminal (Applications-&gt;Utilit...,open up a terminal applications utilities term...,open up a terminal applications utilities term...,2008
1,518,153.0,2008-08-02 17:42:28+00:00,469,2,<p>I haven't been able to find anything that d...,i haven't been able to find anything that does...,i haven't been able to find anything that does...,2008
2,536,161.0,2008-08-02 18:49:07+00:00,502,9,<p>You can use ImageMagick's convert utility f...,you can use imagemagick's convert utility for ...,you can use imagemagick's convert utility for ...,2008
3,538,156.0,2008-08-02 18:56:56+00:00,535,23,<p>One possibility is Hudson. It's written in...,one possibility is hudson it's written in java...,one possibility is hudson. it's written in jav...,2008
4,541,157.0,2008-08-02 19:06:40+00:00,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B...",we run http buildbot net trac buildbot trac at...,we run http buildbot.net trac buildbot trac at...,2008

### Merge QA dataframes

In [ ]:
# Merge answers onto questions
df_QA = questions.merge(answers, left_on='id', right_on='parent_id', how='outer',
                        suffixes=('_q', '_a'))

In [ ]:
# QA dataframe info
df_QA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055166 entries, 0 to 1055165
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id_q                   1055166 non-null  int64
 1   owner_user_id_q        1041567 non-null  float64
 2   creation_date_q        1055166 non-null  datetime64[ns, UTC]
 3   score_q                1055166 non-null  int64
 4   title                  1055166 non-null  object
 5   body_q                 1055166 non-null  object
 6   body_normalized_q      1055166 non-null  object
 7   title_normalized       1055166 non-null  object
 8   body_with_sentences_q  1055166 non-null  object
 9   title_with_sentences   1055166 non-null  object
 10  creation_year_q        1055166 non-null  int32
 11  id_a                   987122 non-null   float64
 12  owner_user_id_a        981755 non-null   float64
 13  creation_date_a        987122 non-null   datetime64[ns, UTC]
 14  parent_id              987122 non-null   float64
 15  score_a                987122 non-null   float64
 16  body_a                 987122 non-null   object
 17  body_normalized_a      987122 non-null   object
 18  body_with_sentences_a  987122 non-null   object
 19  creation_year_a        987122 non-null   float64
dtypes: datetime64[ns, UTC](2), float64(6), int32(1), int64(2), object(9)
memory usage: 157.0+ MB

In [ ]:
# QA dataframe sample
df_QA.sample(15)

,id_q,owner_user_id_q,creation_date_q,score_q,title,body_q,body_normalized_q,title_normalized,body_with_sentences_q,title_with_sentences,creation_year_q,id_a,owner_user_id_a,creation_date_a,parent_id,score_a,body_a,body_normalized_a,body_with_sentences_a,creation_year_a
714115,29294463,4074849.0,2015-03-27 06:18:42+00:00,1,Working on json feed with python,<p>I'm trying to automate some tasks using pyt...,i'm trying to automate some tasks using python...,working on json feed with python,i'm trying to automate some tasks using python...,working on json feed with python,2015,29295112.0,20670.0,2015-03-27 07:06:41+00:00,29294463.0,1.0,<p><code>items</code> is a dictionary. If you ...,items is a dictionary if you iterate over a di...,items is a dictionary. if you iterate over a d...,2015.0
437853,18354382,2702953.0,2013-08-21 09:59:57+00:00,1,How to change scrollbar color in pygtk?,"<p>I Tried the below code, the color is not re...",i tried the below code the color is not reflec...,how to change scrollbar color in py k,i tried the below code the color is not reflec...,how to change scrollbar color in py k,2013,18416529.0,188533.0,2013-08-24 08:24:24+00:00,18354382.0,0.0,<p>You are setting the foreground color which ...,you are setting the foreground color which ksc...,you are setting the foreground color which ksc...,2013.0
829744,33261043,4255612.0,2015-10-21 13:45:31+00:00,0,Accessing a lower layers fields with lambda fu...,<p>I want to do something like the following <...,i want to do something like the following clas...,accessing a lower layers fields with lambda fu...,i want to do something like the following clas...,accessing a lower layers fields with lambda fu...,2015,33291218.0,1729555.0,2015-10-22 21:36:47+00:00,33261043.0,1.0,<p>The lower- or leftbound layer is called <co...,the lower or leftbound layer is called underla...,the lower or leftbound layer is called underla...,2015.0
975586,37785993,6284344.0,2016-06-13 09:19:53+00:00,0,write the output to a dynamically created file...,<p>I want to call this python script from anot...,i want to call this python script from another...,write the output to a dynamically created file...,i want to call this python script from another...,write the output to a dynamically created file...,2016,37832034.0,5336225.0,2016-06-15 09:55:18+00:00,37785993.0,1.0,<pre><code>You can import sys module and use i...,you can import sys module and use it sys argv[...,you can import sys module and use it. sys.argv...,2016.0
281221,11414410,486362.0,2012-07-10 13:30:26+00:00,2,Tastypie resource not showing newly created ob...,<p>I have a model with a custom manager with t...,i have a model with a custom manager with the ...,tastypie resource not showing newly created ob...,i have a model with a custom manager with the ...,tastypie resource not showing newly created ob...,2012,11574926.0,113678.0,2012-07-20 07:38:09+00:00,11414410.0,3.0,"<p>Well, about queryset in <code>ModelResource...",well about queryset in modelresource meta here...,well about queryset in modelresource.meta . he...,2012.0
832707,33350849,3429841.0,2015-10-26 16:29:34+00:00,0,"""DLL Load Failed"" When Installing svm",<p>I am trying to implement neural network cap...,i am trying to implement neural network capabi...,dll load failed when installing svm,i am trying to implement neural network capabi...,dll load failed when installing svm,2015,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
566543,23549678,3587426.0,2014-05-08 18:24:47+00:00,2,Adjusting axis range and tick marks in python ...,<p>Is there a way to be able to set both the a...,is there a way to be able to set both the axis...,adjusting axis range and tick marks in python ...,is there a way to be able to set both the axis...,adjusting axis range and tick marks in python ...,2014,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
656969,27212751,4179318.0,2014-11-30 11:32:26+00:00,0,Count occurrences of assorted items in a List ...,<p>The following reads a text file that contai...,the following reads a text file that contains ...,count occurrences of assorted items in a list ...,the following reads a text file that contains ...,count occurrences of assorted items in a list ...,2014,27212783.0,2387370.0,2014-11-30 11:36:53+00:00,27212751.0,1.0,<p>Try using the list method <code>count</code...,try using the list method count a [ ] a count ...,try using the list method count a [ ] a.count ...,2014.0
139404,5073911,149482.0,2011-02-22 04:14:23+00:00,12,What is __return__?,<p>I am debugging a script in Python 3.1 and d...,i am debugging a script in python and discover...,what is __return__,i am debugging a script in python . and discov...,what is __return__,2011,5073972.0,149482.0,2011-02-22 04:27:17+00:00,5073911.0,5.0,<p>The <code>__return__</code> keyword only ap...,the __return__ keyword only appears in the deb...,the __return__ keyword only appears in the deb...,2011.0
647178,26839925,1911783.0,2014-11-10 08:53:23+00:00,4,Convert negative number to positive number in ...,<p>How to convert negative number to positive ...,how to convert negative number to positive num...,convert negative number to positive number in ...,how to convert negative number to positive num...,convert negative number to positive number in ...,2014,26842826.0,1402197.0,2014-11-10 11:31:53+00:00,26839925.0,0.0,<p>This works without adding django-mathfilter...,this works without adding django mathfilters b...,this works without adding django mathfilters b...,2014.0
120266,4302166,72437.0,2010-11-29 08:59:57+00:00,15,Format string dynamically,<p>If I want to make my formatted string dynam...,if i want to make my formatted string dynamica...,format string dynamically,if i want to make my formatted string dynamica...,format string dynamically,2010,4302315.0,523612.0,2010-11-29 09:21:55+00:00,4302166.0,1.0,<p>If you don't want to specify the widths at ...,if you don't want to specify the widths at the...,if you don't want to specify the widths at the...,2010.0
558525,23212657,1541314.0,2014-04-22 07:00:59+00:00,1,Django override template static file location,<p>If I am overriding the templates for an ins...,if i am overriding the templates for an instal...,django override template static file location,if i am overriding the templates for an instal...,django override template static file location,2014,23213187.0,1731648.0,2014-04-22 07:25:52+00:00,23212657.0,0.0,<p>There are multiple ways to store Templates ...,there are multiple ways to store templates and...,there are multiple ways to store templates and...,2014.0
1035202,39577408,2739381.0,2016-09-19 16:02:15+00:00,0,which averaging should be used when computing ...,<p>I am doing a binary classification task on ...,i am doing a binary classification task on imb...,which averaging should be used when computing ...,i am doing a binary classification task on imb...,which averaging should be used when computing ...,2016,39580846.0,6845924.0,2016-09-19 19:40:22+00:00,39577408.0,1.0,<p>The average='weighted' is your choice for t...,the average 'weighted' is your choice for the ...,the average 'weighted' is your choice for the ...,2016.0
795496,32104514,5199522.0,2015-08-19 19:55:57+00:00,1,"Map a function's argument, which is a lambda, ...",<p>This is the function call below and I'm try...,this is the function call below and i'm trying...,map a function's argument which is a lambda to...,this is the function call below and i'm trying...,map a function's argument which is a lambda to...,2015,32104622.0,28804.0,2015-08-19 20:02:11+00:00,32104514.0,1.0,<p>You can do this with a combination of <code...,you can do this with a combination of zip map ...,you can do this with a combination of zip map ...,2015.0
994851,38375716,2274064.0,2016-07-14 13:34:31+00:00,0,Django Call method in template and use the ret...,"<p>I Guys, \nI begin with Django, I would like...",i guys i begin with django i would like an obj...,django call method in template and use the return,i guys i begin with django i would like an obj...,django call method in template and use the return,2016,38377347.0,3945375.0,2016-07-14 14:47:55+00:00,38375716.0,0.0,<p>Define your method <code>get_stat</code> as...,define your method get_stat as a property to c...,define your method get_stat as a property to c...,2016.0

In [ ]:
# QA dataframe missing
print('Missing QA Dataframe')
df_QA.isna().sum()

Missing QA Dataframe

id_q                         0
owner_user_id_q          13599
creation_date_q              0
score_q                      0
title                        0
body_q                       0
body_normalized_q            0
title_normalized             0
body_with_sentences_q        0
title_with_sentences         0
creation_year_q              0
id_a                     68044
owner_user_id_a          73411
creation_date_a          68044
parent_id                68044
score_a                  68044
body_a                   68044
body_normalized_a        68044
body_with_sentences_a    68044
creation_year_a          68044
dtype: int64

In [ ]:
# Delete questions with no answers
df_QA = df_QA.dropna(axis=0, subset=['body_a']).reset_index(drop=True)

df_QA.isna().sum()

In [ ]:
# Remaining data
print('Merged QA after dropping invalid QA pairs:')
print()
df_QA.info()

### Add word count feature

In [ ]:
# Add word count column
def word_count(text):
    wc = len(text.split())
    return wc


df_QA['answer_length'] = df_QA['body_normalized_a'].dropna().apply(word_count)
df_QA['question_length'] = df_QA['body_normalized_q'].dropna().apply(word_count)

## **Export Clean File to CSV**

In [30]:
questions.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/questions_clean.csv')
answers.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/answers_clean.csv')
tags.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/tags_clean.csv')

In [ ]:
df_QA.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/Externship/qa_merged_clean')