# **Data Cleaning**

## **Import Packages and Data**

In [2]:
import re

import pandas as pd

In [3]:
questions = pd.read_csv('/Users/kellyshreeve/Desktop/data-sets/Externship/Questions.csv', parse_dates = True, encoding='latin-1')
answers = pd.read_csv('/Users/kellyshreeve/Desktop/data-sets/Externship/Answers.csv', parse_dates=True, encoding='latin-1')
tags = pd.read_csv('/Users/kellyshreeve/Desktop/data-sets/Externship/Tags.csv', encoding='latin-1')

In [4]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607282 entries, 0 to 607281
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            607282 non-null  int64
 1   OwnerUserId   601070 non-null  float64
 2   CreationDate  607282 non-null  object
 3   Score         607282 non-null  int64
 4   Title         607282 non-null  object
 5   Body          607282 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 27.8+ MB

In [5]:
answers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Id            987122 non-null  int64
 1   OwnerUserId   981755 non-null  float64
 2   CreationDate  987122 non-null  object
 3   ParentId      987122 non-null  int64
 4   Score         987122 non-null  int64
 5   Body          987122 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 45.2+ MB

In [6]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885078 entries, 0 to 1885077
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Tag     object
dtypes: int64(1), object(1)
memory usage: 28.8+ MB

In [7]:
questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [8]:
answers.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [9]:
tags.head()

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

## **Prepare Data**

### Convert columns to snake case

In [10]:
# Questions columns
questions.columns = (questions.columns
                     .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                     .str.lower())

questions.columns

Index(['id', 'owner_user_id', 'creation_date', 'score', 'title', 'body'], dtype='object')

In [11]:
# Answers columns
answers.columns = (answers.columns
                   .str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True)
                   .str.lower())

answers.columns

Index(['id', 'owner_user_id', 'creation_date', 'parent_id', 'score', 'body'], dtype='object')

In [12]:
# Tags columns
tags.columns = tags.columns.str.lower()

tags.columns

Index(['id', 'tag'], dtype='object')

### Convert to datetime

In [13]:
# Questions date to datetime
questions['creation_date'] = pd.to_datetime(questions['creation_date'])

display(questions.head())
questions.info()

,id,owner_user_id,creation_date,score,title,body
0,469,147.0,2008-08-02 15:11:16+00:00,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02 17:01:58+00:00,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02 18:43:54+00:00,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03 01:15:08+00:00,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03 13:19:16+00:00,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607282 entries, 0 to 607281
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             607282 non-null  int64
 1   owner_user_id  601070 non-null  float64
 2   creation_date  607282 non-null  datetime64[ns, UTC]
 3   score          607282 non-null  int64
 4   title          607282 non-null  object
 5   body           607282 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(2)
memory usage: 27.8+ MB

In [14]:
# Answers date to datetime
answers['creation_date'] = pd.to_datetime(answers['creation_date'])

display(answers.head())
answers.info()

,id,owner_user_id,creation_date,parent_id,score,body
0,497,50.0,2008-08-02 16:56:53+00:00,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02 17:42:28+00:00,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02 18:49:07+00:00,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02 18:56:56+00:00,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02 19:06:40+00:00,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             987122 non-null  int64
 1   owner_user_id  981755 non-null  float64
 2   creation_date  987122 non-null  datetime64[ns, UTC]
 3   parent_id      987122 non-null  int64
 4   score          987122 non-null  int64
 5   body           987122 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(3), object(1)
memory usage: 45.2+ MB

### Missing values

In [15]:
questions.isna().sum()

id                  0
owner_user_id    6212
creation_date       0
score               0
title               0
body                0
dtype: int64

In [16]:
answers.isna().sum()

id                  0
owner_user_id    5367
creation_date       0
parent_id           0
score               0
body                0
dtype: int64

### Duplicates

In [17]:
# Questions duplicates
print(f'Number of questions duplicates: {questions.duplicated().sum()}')

Number of questions duplicates: 0

In [18]:
# Ansers duplicates
print(f'Number of answer duplicates: {answers.duplicated().sum()}')

Number of answer duplicates: 0

### Normalize text

In [19]:
# View text example
print(questions.loc[1, 'body'])
print(questions.loc[2, 'body'])

print(answers.loc[1, 'body'])
print(answers.loc[2, 'body'])

<p>I have a cross-platform (Python) application which needs to generate a JPEG preview of the first page of a PDF.</p>

<p>On the Mac I am spawning <a href="http://developer.apple.com/documentation/Darwin/Reference/ManPages/man1/sips.1.html">sips</a>.  Is there something similarly simple I can do on Windows?</p>

<p>I'm starting work on a hobby project with a python codebase and would like to set up some form of continuous integration (i.e. running a battery of test-cases each time a check-in is made and sending nag e-mails to responsible persons when the tests fail) similar to CruiseControl or TeamCity.</p>

<p>I realize I could do this with hooks in most VCSes, but that requires that the tests run on the same machine as the version control server, which isn't as elegant as I would like. Does anyone have any suggestions for a small, user-friendly, open-source continuous integration system suitable for a Python codebase?</p>

<p>I haven't been able to find anything that does this directly.  I think you'll have to iterate through the various font folders on the system: <code>/System/Library/Fonts</code>, <code>/Library/Fonts</code>, and there can probably be a user-level directory as well <code>~/Library/Fonts</code>.</p>

<p>You can use ImageMagick's convert utility for this, see some examples in <a href="https://web.archive.org/web/20120413111338/http://studio.imagemagick.org/pipermail/magick-users/2002-May/002636.html" rel="nofollow">http://studio.imagemagick.org/pipermail/magick-users/2002-May/002636.html</a>
:</p>

<blockquote>
<pre><code>Convert taxes.pdf taxes.jpg
</code></pre>

  <p>Will convert a two page PDF file into [2] jpeg files: taxes.jpg.0,
  taxes.jpg.1</p>

  <p>I can also convert these JPEGS to a thumbnail as follows:</p>

<pre><code>convert -size 120x120 taxes.jpg.0 -geometry 120x120 +profile '*' thumbnail.jpg
</code></pre>

  <p>I can even convert the PDF directly to a jpeg thumbnail as follows:</p>

<pre><code>convert -size 120x120 taxes.pdf -geometry 120x120 +profile '*' thumbnail.jpg
</code></pre>

  <p>This will result in a thumbnail.jpg.0 and thumbnail.jpg.1 for the two
  pages.</p>
</blockquote>

In [20]:
# Define normalizing function
def normalize_text(text):
    text = text.lower()
    text = text.replace('<p>', ' ')
    text = text.replace('</p>', ' ')
    text = text.replace('\n', ' ')
    text = text.replace('<a', ' ')
    text = text.replace('</a>', ' ')
    text = text.replace('href=', ' ')
    text = text.replace('</code', ' ')
    text = text.replace('</pre>', ' ')
    text = text.replace('<code>', ' ')
    text = text.replace('jpeg', ' ')
    text = text.replace('jpg', ' ')
    text = text.replace('pre', ' ')
    text = text.replace('pdf', ' ')
    text = text.replace('gt', ' ')
    text = re.sub(r"[^a-zA-z']", ' ', text)
    text = text.split()
    text = " ".join(text)
    
    return text

def normalize_with_sentences(text):
    text = text.lower()
    text = text.replace('<p>', ' ')
    text = text.replace('</p>', ' ')
    text = text.replace('\n', ' ')
    text = text.replace('<a', ' ')
    text = text.replace('</a>', ' ')
    text = text.replace('href=', ' ')
    text = text.replace('</code', ' ')
    text = text.replace('</pre>', ' ')
    text = text.replace('<code>', ' ')
    text = text.replace('jpeg', ' ')
    text = text.replace('jpg', ' ')
    text = text.replace('pre', ' ')
    text = text.replace('pdf', ' ')
    text = text.replace('gt', ' ')
    text = re.sub(r"[^a-zA-z'.]", ' ', text)
    text = text.split()
    text = " ".join(text)
    
    return text

# Apply normalization to Q title and Q & A body
questions['body_normalized'] = questions['body'].apply(normalize_text)
questions['title_normalized'] = questions['title'].apply(normalize_text)
answers['body_normalized'] = answers['body'].apply(normalize_text)

questions['body_with_sentences'] = questions['body'].apply(normalize_with_sentences)
questions['title_with_sentences'] = questions['title'].apply(normalize_with_sentences)
answers['body_with_sentences'] = answers['body'].apply(normalize_with_sentences)

In [21]:
# View examples normalized
print(questions.loc[1, 'title_normalized'])
print(questions.loc[1, 'body_normalized'])
print(answers.loc[1, 'body_normalized'])

get a view of a on windows
i have a cross platform python application which needs to generate a view of the first page of a on the mac i am spawning http developer apple com documentation darwin reference manpages man sips html sips is there something similarly simple i can do on windows
i haven't been able to find anything that does this directly i think you'll have to iterate through the various font folders on the system system library fonts library fonts and there can probably be a user level directory as well library fonts

### Add year column

In [22]:
# Question year
questions['creation_year'] = questions['creation_date'].dt.year

questions.head()

,id,owner_user_id,creation_date,score,title,body,body_normalized,title_normalized,body_with_sentences,title_with_sentences,creation_year
0,469,147.0,2008-08-02 15:11:16+00:00,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...,i am using the photoshop's javascript api to f...,how can i find the full path to a font from it...,i am using the photoshop's javascript api to f...,how can i find the full path to a font from it...,2008
1,502,147.0,2008-08-02 17:01:58+00:00,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...,i have a cross platform python application whi...,get a view of a on windows,i have a cross platform python application whi...,get a view of a on windows,2008
2,535,154.0,2008-08-02 18:43:54+00:00,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...,i'm starting work on a hobby project with a py...,continuous integration system for a python cod...,i'm starting work on a hobby project with a py...,continuous integration system for a python cod...,2008
3,594,116.0,2008-08-03 01:15:08+00:00,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...,there are several ways to iterate over a resul...,cx_oracle how do i iterate over a result set,there are several ways to iterate over a resul...,cx_oracle how do i iterate over a result set,2008
4,683,199.0,2008-08-03 13:19:16+00:00,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...,i don't remember whether i was dreaming or not...,using 'in' to match an attribute of python obj...,i don't remember whether i was dreaming or not...,using 'in' to match an attribute of python obj...,2008

In [23]:
# Answer year
answers['creation_year'] = answers['creation_date'].dt.year

answers.head()

,id,owner_user_id,creation_date,parent_id,score,body,body_normalized,body_with_sentences,creation_year
0,497,50.0,2008-08-02 16:56:53+00:00,469,4,<p>open up a terminal (Applications-&gt;Utilit...,open up a terminal applications utilities term...,open up a terminal applications utilities term...,2008
1,518,153.0,2008-08-02 17:42:28+00:00,469,2,<p>I haven't been able to find anything that d...,i haven't been able to find anything that does...,i haven't been able to find anything that does...,2008
2,536,161.0,2008-08-02 18:49:07+00:00,502,9,<p>You can use ImageMagick's convert utility f...,you can use imagemagick's convert utility for ...,you can use imagemagick's convert utility for ...,2008
3,538,156.0,2008-08-02 18:56:56+00:00,535,23,<p>One possibility is Hudson. It's written in...,one possibility is hudson it's written in java...,one possibility is hudson. it's written in jav...,2008
4,541,157.0,2008-08-02 19:06:40+00:00,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B...",we run http buildbot net trac buildbot trac at...,we run http buildbot.net trac buildbot trac at...,2008

### Merge QA dataframes

In [24]:
# Merge answers onto questions
df_QA = questions.merge(answers, left_on='id', right_on='parent_id', how='outer',
                        suffixes=('_q', '_a'))

In [25]:
# QA dataframe info
df_QA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055166 entries, 0 to 1055165
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id_q                   1055166 non-null  int64
 1   owner_user_id_q        1041567 non-null  float64
 2   creation_date_q        1055166 non-null  datetime64[ns, UTC]
 3   score_q                1055166 non-null  int64
 4   title                  1055166 non-null  object
 5   body_q                 1055166 non-null  object
 6   body_normalized_q      1055166 non-null  object
 7   title_normalized       1055166 non-null  object
 8   body_with_sentences_q  1055166 non-null  object
 9   title_with_sentences   1055166 non-null  object
 10  creation_year_q        1055166 non-null  int32
 11  id_a                   987122 non-null   float64
 12  owner_user_id_a        981755 non-null   float64
 13  creation_date_a        987122 non-null   datetime64[ns, UTC]
 14  parent_id              987122 non-null   float64
 15  score_a                987122 non-null   float64
 16  body_a                 987122 non-null   object
 17  body_normalized_a      987122 non-null   object
 18  body_with_sentences_a  987122 non-null   object
 19  creation_year_a        987122 non-null   float64
dtypes: datetime64[ns, UTC](2), float64(6), int32(1), int64(2), object(9)
memory usage: 157.0+ MB

In [26]:
# QA dataframe sample
df_QA.sample(15)

,id_q,owner_user_id_q,creation_date_q,score_q,title,body_q,body_normalized_q,title_normalized,body_with_sentences_q,title_with_sentences,creation_year_q,id_a,owner_user_id_a,creation_date_a,parent_id,score_a,body_a,body_normalized_a,body_with_sentences_a,creation_year_a
207031,8086320,1040563.0,2011-11-10 21:09:05+00:00,1,How can I switch between 2 characters?,<p>I am using python 2.7 and i'm trying to fin...,i am using python and i'm trying to find a sol...,how can i switch between characters,i am using python . and i'm trying to find a s...,how can i switch between characters,2011,8107788.0,807271.0,2011-11-12 21:47:30+00:00,8086320.0,-2.0,<p>SINGLE LINE SOLUTION</p>\n\n<p>Regexes are ...,single line solution regexes are not as effici...,single line solution regexes are not as effici...,2011.0
691942,28514659,4551168.0,2015-02-14 10:28:25+00:00,0,connect button to label - python & Qt4 designer,<p>Im just starting out making GUI application...,im just starting out making gui applications a...,connect button to label python qt designer,im just starting out making gui applications a...,connect button to label python qt designer,2015,28515053.0,4536912.0,2015-02-14 11:14:53+00:00,28514659.0,1.0,<p>you can define a new method to receive clic...,you can define a new method to receive clicked...,you can define a new method to receive clicked...,2015.0
765418,31072979,5052933.0,2015-06-26 12:16:48+00:00,1,MismatchSenderId when sending GCM messages to ...,<p>I am trying to send GCM messages with a pyt...,i am trying to send gcm messages with a python...,mismatchsenderid when sending gcm messages to ...,i am trying to send gcm messages with a python...,mismatchsenderid when sending gcm messages to ...,2015,31173468.0,2954771.0,2015-07-01 23:47:46+00:00,31072979.0,1.0,<p><code>MismatchSenderID</code> is one of the...,mismatchsenderid is one of the error responses...,mismatchsenderid is one of the error responses...,2015.0
808809,32563824,2620746.0,2015-09-14 11:36:08+00:00,3,Python import from parent package,<p>I'm having some trouble with imports in Pyt...,i'm having some trouble with imports in python...,python import from parent package,i'm having some trouble with imports in python...,python import from parent package,2015,32564604.0,529630.0,2015-09-14 12:17:35+00:00,32563824.0,1.0,"<p>You have a few problems here, one of which ...",you have a few problems here one of which is h...,you have a few problems here one of which is h...,2015.0
37133,1336791,42201.0,2009-08-26 18:55:45+00:00,76,Dictionary vs Object - which is more efficient...,<p>What is more efficient in Python in terms o...,what is more efficient in python in terms of m...,dictionary vs object which is more efficient a...,what is more efficient in python in terms of m...,dictionary vs object which is more efficient a...,2009,1336952.0,43927.0,2009-08-26 19:28:12+00:00,1336791.0,3.0,<p><strong>There is no question.</strong><br /...,strong there is no question strong br you have...,strong there is no question. strong br you hav...,2009.0
1042946,39804455,975592.0,2016-10-01 08:18:48+00:00,0,Accessing SID of Connection in Socket.io,<p>I am trying to find a way to uniquely ident...,i am trying to find a way to uniquely identify...,accessing sid of connection in socket io,i am trying to find a way to uniquely identify...,accessing sid of connection in socket.io,2016,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
153156,5648017,161922.0,2011-04-13 10:57:21+00:00,3,Installing a pip package from a local SVN chec...,<p>I have a clone of another python project (t...,i have a clone of another python project that ...,installing a pip package from a local svn chec...,i have a clone of another python project that ...,installing a pip package from a local svn chec...,2011,5680027.0,565999.0,2011-04-15 17:01:26+00:00,5648017.0,3.0,<p>It is an open bug right now. Paul Nasrat is...,it is an open bug right now paul nasrat is tak...,it is an open bug right now. paul nasrat is ta...,2011.0
673883,27854673,3544005.0,2015-01-09 05:57:49+00:00,0,How to access Suite Variables in RIDE,<p>Can you please help me to know how to acces...,can you please help me to know how to access s...,how to access suite variables in ride,can you please help me to know how to access s...,how to access suite variables in ride,2015,27861081.0,7432.0,2015-01-09 12:56:36+00:00,27854673.0,1.0,<p>When you create a suite variable with <code...,when you create a suite variable with set suit...,when you create a suite variable with set suit...,2015.0
281546,11427417,1377292.0,2012-07-11 07:13:14+00:00,3,What would be the best way to pass a list from...,<p>I am using Bottle as a web server and need ...,i am using bottle as a web server and need to ...,what would be the best way to pass a list from...,i am using bottle as a web server and need to ...,what would be the best way to pass a list from...,2012,19172798.0,2845086.0,2013-10-04 03:38:52+00:00,11427417.0,-1.0,<p>In case of django use</p>\n\n<p><code>var m...,in case of django use var mynewlist mylist saf...,in case of django use var mynewlist mylist saf...,2013.0
532702,22229796,2716065.0,2014-03-06 16:07:48+00:00,6,Choose at random from combinations,<p>I can make a list of all combinations using...,i can make a list of all combinations using li...,choose at random from combinations,i can make a list of all combinations using li...,choose at random from combinations,2014,22229896.0,3005188.0,2014-03-06 16:12:22+00:00,22229796.0,6.0,"<p>In the <a href=""http://docs.python.org/2/li...",in the http docs python org library itertools ...,in the http docs.python.org library itertools....,2014.0
682689,28182053,3159981.0,2015-01-27 23:36:53+00:00,0,Python Pandas Referencing ambiguous column and...,<p>I have two dataframes</p>\n\n<pre><code>imp...,i have two dataframes import pandas as pd df p...,python pandas referencing ambiguous column and...,i have two dataframes import pandas as pd df p...,python pandas referencing ambiguous column and...,2015,28187916.0,4077912.0,2015-01-28 08:44:39+00:00,28182053.0,0.0,<p>You might want to use <code>.iloc</code> me...,you might want to use iloc method to access yo...,you might want to use .iloc method to access y...,2015.0
533456,22256366,1965509.0,2014-03-07 17:11:05+00:00,2,converting each element of list to tuple,<p>I to convert each element of list to tuple ...,i to convert each element of list to tuple lik...,converting each element of list to tuple,i to convert each element of list to tuple lik...,converting each element of list to tuple,2014,22256388.0,2555451.0,2014-03-07 17:11:57+00:00,22256366.0,8.0,"<p>You can use a <a href=""http://docs.python.o...",you can use a http docs python org tutorial da...,you can use a http docs.python.org tutorial da...,2014.0
107942,3851829,125801.0,2010-10-03 22:26:32+00:00,4,Howto do reference to ints by name in Python,<p>I want to have a a reference that reads as ...,i want to have a a reference that reads as wha...,howto do reference to ints by name in python,i want to have a a reference that reads as wha...,howto do reference to ints by name in python,2010,3851862.0,216074.0,2010-10-03 22:37:56+00:00,3851829.0,2.0,<p>Whatever possible solution you come up with...,whatever possible solution you come up with th...,whatever possible solution you come up with th...,2010.0
989526,38214296,6553831.0,2016-07-05 23:19:32+00:00,-4,How is the following code in Python in C#?,<p>How is the following code in Python in C#?<...,how is the following code in python in c i nee...,how is the following code in python in c,how is the following code in python in c i nee...,how is the following code in python in c,2016,38215426.0,6553831.0,2016-07-06 02:09:21+00:00,38214296.0,0.0,<pre><code>public static string GetHash( strin...,public static string gethash string caminho co...,public static string gethash string caminho co...,2016.0
815439,32798463,2747284.0,2015-09-26 14:51:32+00:00,1,I am getting the following error need more tha...,<p>I have the following structure in python.</...,i have the following structure in python data_...,i am getting the following error need more tha...,i have the following structure in python. data...,i am getting the following error need more tha...,2015,32798493.0,795990.0,2015-09-26 14:56:14+00:00,32798463.0,2.0,<p>When you iterate over a dictionary directly...,when you iterate over a dictionary directly it...,when you iterate over a dictionary directly it...,2015.0

In [27]:
# QA dataframe missing
print('Missing QA Dataframe')
df_QA.isna().sum()

Missing QA Dataframe

id_q                         0
owner_user_id_q          13599
creation_date_q              0
score_q                      0
title                        0
body_q                       0
body_normalized_q            0
title_normalized             0
body_with_sentences_q        0
title_with_sentences         0
creation_year_q              0
id_a                     68044
owner_user_id_a          73411
creation_date_a          68044
parent_id                68044
score_a                  68044
body_a                   68044
body_normalized_a        68044
body_with_sentences_a    68044
creation_year_a          68044
dtype: int64

In [28]:
# Delete questions with no answers
df_QA = df_QA.dropna(axis=0, subset=['body_a']).reset_index(drop=True)

df_QA.isna().sum()

id_q                         0
owner_user_id_q          13374
creation_date_q              0
score_q                      0
title                        0
body_q                       0
body_normalized_q            0
title_normalized             0
body_with_sentences_q        0
title_with_sentences         0
creation_year_q              0
id_a                         0
owner_user_id_a           5367
creation_date_a              0
parent_id                    0
score_a                      0
body_a                       0
body_normalized_a            0
body_with_sentences_a        0
creation_year_a              0
dtype: int64

In [29]:
# Remaining data
print('Merged QA after dropping invalid QA pairs:')
print()
df_QA.info()

Merged QA after dropping invalid QA pairs:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987122 entries, 0 to 987121
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id_q                   987122 non-null  int64
 1   owner_user_id_q        973748 non-null  float64
 2   creation_date_q        987122 non-null  datetime64[ns, UTC]
 3   score_q                987122 non-null  int64
 4   title                  987122 non-null  object
 5   body_q                 987122 non-null  object
 6   body_normalized_q      987122 non-null  object
 7   title_normalized       987122 non-null  object
 8   body_with_sentences_q  987122 non-null  object
 9   title_with_sentences   987122 non-null  object
 10  creation_year_q        987122 non-null  int32
 11  id_a                   987122 non-null  float64
 12  owner_user_id_a        981755 non-null  float64
 13  creation_date_a        987122 non-null  datetime64[ns, UTC]
 14  parent_id              987122 non-null  float64
 15  score_a                987122 non-null  float64
 16  body_a                 987122 non-null  object
 17  body_normalized_a      987122 non-null  object
 18  body_with_sentences_a  987122 non-null  object
 19  creation_year_a        987122 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(6), int32(1), int64(2), object(9)
memory usage: 146.9+ MB

### Add word count feature

In [30]:
# Add word count column
def word_count(text):
    wc = len(text.split())
    return wc


df_QA['answer_length'] = df_QA['body_normalized_a'].dropna().apply(word_count)
df_QA['question_length'] = df_QA['body_normalized_q'].dropna().apply(word_count)

## **Export Clean File to CSV**

In [30]:
questions.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/questions_clean.csv')
answers.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/answers_clean.csv')
tags.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/tags_clean.csv')

In [31]:
df_QA.to_csv('/Users/kellyshreeve/Desktop/Data-Sets/Externship/qa_merged_clean.csv')